* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#container {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.box-arrow::after {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  border-width: 0 2px 2px 0;
  border-color: #39B6A3;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -14px;
  margin-right: -10px;
}

/* 头部导航 */

.nav-bar {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.nav-item {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  position: relative;
  padding-top: 2.5px;
}

.nav-item::after {
  width: 0;
  height: 100%;
  display: inline-block;
  content: "";
  vertical-align: middle;
}

.nav-item-con {
  display: inline-block;
  font-size: 14px;
  color: #333;
  padding: 4px 10px;
  border-radius: 50px;
}

.nav-active {
  color: #fff;
  background-color: #39B6A3;
}

.nav-line {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 26%;
  display: block;
  width: 48%;
  height: 4px;
  background-color: #39B6A3;
}

/* 右侧菜单 */

.right-bar {
  z-index: 2;
  position: absolute;
  top: 70px;
  right: 0;
  width: 50px;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

.right-item {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.right-item>img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* 底部tab */

.tab-bar {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
}

.tab-item {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #b4b4b4;
  font-family: "宋体";
  padding-top: 6px;
}

.tab-item>img {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

/* 遮罩层 */

.mask-box {
  display: none;
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

/* 底部弹窗 */

.right-menu,
.rode-line {
  z-index: 4;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: #fff;
}

/* 左侧菜单内容 */

.right-menu-item {
  float: left;
  width: 17%;
  height: auto;
  margin: 14px 4%;
  text-align: center;
  overflow: hidden;
}

.right-menu-item>img {
  width: 100%;
  vertical-align: top;
}

.right-menu-item>p {
  padding-top: 4px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

/* 路线 */

.rode-title {
  margin: 0 3%;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.rode-title>p {
  font-size: 14px;
  color: #333;
}

.rode-title span {
  font-size: 12px;
  color: #999;
  margin-right: 20px;
}

.rode-box {
  margin: 0 3%;
  padding: 10px 0;
  height: auto;
  overflow: hidden;
}

.rode-item {
  float: left;
  width: 21%;
  height: auto;
  text-align: center;
  overflow: hidden;
}

.rode-item>span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: 600;
  color: #39B6A3;
  border: 1px solid #39B6A3;
  border-radius: 100%;
}

.rode-item>span.active {
  color: #fff;
  background-color: #39B6A3;
}

.rode-item>p {
  padding-top: 4px;
  font-size: 12px;
  color: #333;
}

.rode-item>p.active {
  color: #39B6A3;
}

.rode-item-line {
  float: left;
  width: 5%;
  height: 26px;
  border-bottom: 1px dotted rgb(199, 199, 199);
}

/* 弹窗 */

.marker-box {
  width: 225px;
  height: auto;
  overflow: hidden;
}

.marker-title {
  line-height: 34px;
  font-size: 14px;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.marker-con {
  padding-top: 6px;
  font-size: 12px;
  color: #999;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.marker-btn-box {
  width: 100%;
  margin: 10px auto;
  height: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}

.marker-btn-box a:link,
.marker-btn-box a:visited,
.marker-btn-box a:hover,
.marker-btn-box a:active {
  text-decoration: none;
  color: #fff;
}

.marker-btn {
  flex: 1;
  margin: 0 3px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 30px;
}

.marker-btn>img {
  width: 14px;
  height: 17px;
  margin-right: 5px;
  margin-top: -3px;
  vertical-align: middle;
}

.gotoBtn {
  background-color: #69A9FF;
}

.yuyueBtn {
  background-color: #FF768D;
}

.yuyinBtn {
  background-color: #FCA64A;
}

/* 活动消息 */

.ativity-box {
  z-index: 3;
  position: absolute;
  top: 80px;
  right: 70px;
  width: 70%;
  height: auto;
  padding: 8px 12px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  display: none;
}

.ativity-box-a {
  display: -webkit-flex;
  display: flex;
}

.ativity-icon {
  width: 34px;
}

.ativity-icon>img {
  width: 26px;
  height: 23px;
  vertical-align: top;
}

.ativity-con {
  flex: 1;
}

.ativity-title {
  font-size: 16px;
  color: #333333;
}

.ativity-info {
  padding-top: 10px;
  font-size: 14px;
}

/* 提示弹窗 */

.msg-box {
  display: none;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}

.msg-con {
  padding: 30px 20px 16px;
  text-align: center;
  font-size: 16px;
  color: #333;
  overflow: hidden;
}

.msg-btn {
  border-top: 1px solid #e5e5e5;
  display: -webkit-flex;
  display: flex;
}

.msg-btn-item {
  flex: 1;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
}

.msg-cancel {
  border-right: 1px solid #e5e5e5;
  color: #999;
}

.msg-confirm {
  color: #39B6A3;
}

.disnone {
  display: none;
}

.pt-4 {
  padding-top: 4px;
}

.c-base {
  color: #39B6A3;
}

.c-333 {
  color: #333;
}

.c-666 {
  color: #666;
}